.section {
    padding: 3em 0;
}

.section-content {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.error {
    font-size: 14px;
    color: $error;
}

.link {
    color: $theme-blue;

    &:hover {
        color: $theme-hover-blue;
    }
}

/* Form */

.form {
    &__wrapper {
        position: relative;
        max-width: 400px;
        margin: 0 auto;
        padding: 15px;
        box-shadow: 0px 1px 2px 0px $theme-grey;
        border-radius: $primary-border-radius;
    }

    &__caption {
        font-size: 1.5em;
        font-weight: 600;
        line-height: 1;
        text-align: center;
        padding: 30px 0;
    }

    &__body-item {
        position: relative;
        &:not(:first-child) {
            margin-top: 25px;
        }
    }

    &__label {
        color: $theme-grey;
    }

    &__field {
        border: 1px solid $theme-grey;
        line-height: 45px;
        padding: 0 10px;
        border-radius: $primary-border-radius;
        display: block;
        width: 100%;

        &,
        &:focus {
            outline: none;
        }

        &:focus {
            outline: none;
            border-color: $theme-blue;
        }

        &[aria-invalid=true] {
            border-color: $success;
        }

        &[aria-invalid=false] {
            border-color: $error;
        }
    }

    &__error {
        position: absolute;
        left: 0;
        bottom: -26px;

        &_auth {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            text-align: center;
            border-top-left-radius: $primary-border-radius;
            border-top-right-radius: $primary-border-radius;
            border: 1px solid $error;
            color: $error;
            background-color: rgba(255, 0, 0, 0.19);
        }
    }

    &__button {
        line-height: 45px;
        height: 45px;
        border-radius: $primary-border-radius;
        background-color: $theme-blue;
        color: $theme-white;
        text-transform: uppercase;
        font-weight: 600;
        outline: none;
        border: 0;
        width: 100%;
        display: inline-block;
        padding: 0 10px;

        &:disabled {
            background-color: $theme-grey;
        }

        &:disabled:hover {
            background-color: $theme-grey;
        }

        &:hover,
        &:focus,
        &:active {
            outline: none;
            border: 0;
            background-color: $theme-hover-blue;
        }
    }

    &__footer {
        margin-top: 15px;
    }

    &__field_textarea {
        padding: 5px 10px;
        line-height: 1.625;
        height: 150px;
        font-size: 1em;
        font-family: inherit;
    }
}
